@namespace SmartParkingSystem.Components.Pages.Connection.Parts
@inherits ConnectionLanguageSwitchBase

<div class="flex justify-center">
    <div class="inline-flex gap-3 rounded-md bg-white/85 px-4 py-2">
        <button class="@EnglishButtonClass" @onclick='() => OnLanguageSelected.InvokeAsync(AppLanguage.English)'>
            <span>EN</span>
        </button>
        <button class="@UkrainianButtonClass" @onclick='() => OnLanguageSelected.InvokeAsync(AppLanguage.Ukrainian)'>
            <span>UA</span>
        </button>
    </div>
</div>
