@namespace SmartParkingSystem.Components.Pages.Connection.Parts
@inherits ConnectionHeroBase

<div class="@PanelClass">
    <div class="mb-8 flex h-24 w-24 items-center justify-center rounded-md bg-white/85 text-sky-500 sm:h-28 sm:w-28">
        <i data-lucide="circle-parking" class="h-12 w-12 sm:h-14 sm:w-14"></i>
    </div>

    <div class="space-y-4">
        <h1 class="text-5xl font-extrabold leading-none text-sky-500 sm:text-6xl">
            @Title
        </h1>

        <p class="max-w-md text-base leading-7 text-calm-700 sm:text-lg">
            @Description
        </p>
    </div>
</div>
